.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wait {
    color: #8585AD;
}


/* .identifier {
    position: absolute;
    width: 520px;
    height: 120px;
    left: 100px;
    top: 120px;
} */