.main {
    width: 621px;
    height: 912px;
    align-items: center;
    overflow: auto;
}

.main::-webkit-scrollbar {
    width: 12px;
}

.main::-webkit-scrollbar-track {
    background: #2F2F37;
}

.main::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
}

.mainTitle {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
}

.secondaryTitle {
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.cardList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.price_block {
    display: flex;
    align-items: center;
}